@import 'src/styles';

.app-container {
  background-color: white;

  &-sidenav {
    padding: 2rem;
  }

  &-content {
    height: 100vh;
    padding: 2rem;
    position: inherit;
    color: rgba(9, 2, 17, 0.72);

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
}

:host {
  .mat-drawer-container {
    position: inherit;

    .mat-drawer {
      background-color: $color-default;
    }
  }
}


