<mat-drawer-container class="app-container">
  <mat-drawer #drawer class="app-container-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="app-container-content">
    <div class="app-container-content-title">
      <h2 class="title">{{title}}</h2>
      <button mat-mini-fab color="primary" class="drawer-btn" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <app-common-page></app-common-page>
  </div>

</mat-drawer-container>
